<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Votação BBB23</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <div class="container">
        <h1>Votação BBB</h1>
        <div id="participants"></div>
        <div id="vote-form">
            <h2>Vote no participante que você quer que permaneça na casa:</h2>
            <select id="participant-select">
                <!-- Options will be populated dynamically -->
            </select>
            <div id="fake-captcha">
                <p>CAPTCHA: Qual é a soma de <span id="num1"></span> e <span id="num2"></span>?</p>
                <input type="number" id="captcha-answer" required>
            </div>
            <button id="vote-button">Votar</button>
        </div>
        <div id="results">
            <h2>Resultados Parciais:</h2>
            <div id="total-votes"></div>
            <div id="results-container"></div>
            <div id="votes-by-hour">
                <h3>Votos por Hora:</h3>
                <table id="votes-by-hour-table">
                    <thead>
                        <tr>
                            <th>Hora</th>
                            <th>Total de Votos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Will be populated dynamically -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="/static/js/script.js"></script>
</body>

</html>